*.bak
*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.log
*.mdb
*.nav
*.shp*
*.shx
*.snm
*.toc
*.vrb
*.xls*
*_files
.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
cover.png
cover.txt
css
docs
libs
output
